In [1]:
import math 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import gridspec
from sklearn import preprocessing
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
data_Original= pd.read_csv('../test_reduced.csv') # whole data 
data_Original.dropna(how='all', inplace=True) # remove rows which contain none at all columns
#test_data_Original= test_data_Original.reindex()

In [3]:
X_test= pd.DataFrame()
X_test= data_Original.drop(['ID','y'], axis=1, inplace= False)
y_test= data_Original['y']

In [4]:
if __name__ == "__main__":
    print(X_test.head())
    print(X_test.columns)

   X0  X1  X2 X3 X4  X5 X6 X8  X10  X11  ...   X375  X376  X377  X378  X379  \
0   t   b  ae  c  d  ah  d  u    0    0  ...      0     0     1     0     0
1   y  aa  ay  c  d  af  l  p    1    0  ...      1     0     0     0     0
2  at   q  aq  c  d   c  d  s    0    0  ...      0     0     1     0     0
3   y   r  ak  f  d   v  i  b    0    0  ...      0     0     0     0     0
4   z   z  ai  c  d   s  d  j    0    0  ...      1     0     0     0     0

   X380  X382  X383  X384  X385
0     0     0     0     0     0
1     0     0     0     0     0
2     0     0     0     0     0
3     0     0     0     0     0
4     0     0     0     0     0

[5 rows x 376 columns]
Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10', 'X11',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=376)

In [5]:
y_test.head()

0     89.09
1     97.99
2    111.66
3     91.92
4     88.10
Name: y, dtype: float64

# Step1: Manipulate X

In [6]:
# numeric types --> house_num frame; categorical types --> house_cat frame
if __name__ == "__main__":
    print(X_test.select_dtypes(include=[np.number]).columns)

Index(['X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=368)

In [7]:
if __name__ == "__main__":
    print(X_test.select_dtypes(exclude=[np.number]).columns)

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype='object')

In [8]:
if __name__ == "__main__":
    print(X_test[['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']].head())

   X0  X1  X2 X3 X4  X5 X6 X8
0   t   b  ae  c  d  ah  d  u
1   y  aa  ay  c  d  af  l  p
2  at   q  aq  c  d   c  d  s
3   y   r  ak  f  d   v  i  b
4   z   z  ai  c  d   s  d  j

In [9]:
for col in X_test.select_dtypes(exclude=[np.number]).columns:
    # create dummy variables using get_dummies, then exclude the first dummy column
    dummies = pd.get_dummies(X_test[col], prefix=col).iloc[:, 1:]
    
    # concatenate the dummy variable columns onto the original DataFrame (axis=0 means rows, axis=1 means columns)
    X_test = pd.concat([X_test, dummies], axis=1)
    X_test.drop(col, axis=1, inplace=True)
    X_test.head()

In [10]:
if __name__ == "__main__":
    print(X_test.head())

   X10  X11  X12  X13  X14  X15  X16  X17  X18  X19  ...  X8_p  X8_q  X8_r  \
0    0    0    0    0    0    0    0    0    0    0  ...     0     0     0
1    1    0    0    0    0    0    0    0    0    0  ...     1     0     0
2    0    0    0    0    1    0    0    0    0    0  ...     0     0     0
3    0    0    1    0    0    0    0    0    0    0  ...     0     0     0
4    0    0    0    0    0    0    0    0    0    1  ...     0     0     0

   X8_s  X8_t  X8_u  X8_v  X8_w  X8_x  X8_y
0     0     0     1     0     0     0     0
1     0     0     0     0     0     0     0
2     1     0     0     0     0     0     0
3     0     0     0     0     0     0     0
4     0     0     0     0     0     0     0

[5 rows x 509 columns]