In [2]:
import pandas as pd
import numpy as np

In [3]:
energy = pd.read_excel('Energy Indicators.xls')
energy = energy[16:243]

In [4]:
energy = energy.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1)
energy.reset_index()
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy.set_index("Country")

,Energy Supply,Energy Supply per Capita,% Renewable
Country,,,
Afghanistan,321,10,78.6693
Albania,102,35,100
Algeria,1959,51,0.55101
American Samoa,...,...,0.641026
Andorra,9,121,88.6957
Angola,642,27,70.9091
Anguilla,2,136,0
Antigua and Barbuda,8,84,0
Argentina,3378,79,24.0645
Armenia,143,48,28.2361
Aruba,12,120,14.8707
Australia1,5386,231,11.8108
Austria,1391,164,72.4528
Azerbaijan,567,60,6.38434
Bahamas,45,118,0
Bahrain,574,425,0
Bangladesh,1625,10,1.96633
Barbados,19,69,0
Belarus,1142,120,0.463389
Belgium,2338,210,9.95974
Belize,13,39,64.69
Benin,170,16,0
Bermuda,6,88,0
Bhutan,63,83,100
Bolivia (Plurinational State of),336,32,31.4771
"Bonaire, Sint Eustatius and Saba",5,213,0
Bosnia and Herzegovina,266,70,41.4647
Botswana,86,39,0.131406
Brazil,12149,59,69.648
British Virgin Islands,2,85,0
...,...,...,...
Switzerland17,1113,136,57.7455
Syrian Arab Republic,542,28,11.5683
Tajikistan,106,13,99.7429
Thailand,5336,79,4.30519
The former Yugoslav Republic of Macedonia,117,56,26.1405
Timor-Leste,7,6,0
Togo,134,19,80.1802
Tonga,3,28,0
Trinidad and Tobago,824,611,0
Tunisia,430,39,3.49255
Turkey,4897,64,28.5367
Turkmenistan,1102,210,0
Turks and Caicos Islands,3,85,0
Tuvalu,...,...,0
Uganda,452,12,68.0182
Ukraine18,4844,107,8.06731
United Arab Emirates,2710,300,0
United Kingdom of Great Britain and Northern Ireland19,7920,124,10.6005
United Republic of Tanzania,994,20,31.0728
United States of America20,90838,286,11.571
United States Virgin Islands,...,...,0
Uruguay,196,58,71.605
Uzbekistan,1798,62,21.3284
Vanuatu,3,10,14.7059
Venezuela (Bolivarian Republic of),2871,95,67.8345
Viet Nam,2554,28,45.3215
Wallis and Futuna Islands,0,26,0
Yemen,344,13,0
Zambia,400,26,99.7147
Zimbabwe,480,32,52.5361

In [ ]:
# Nan Temizle

In [5]:
energy['Energy Supply'] = energy['Energy Supply'].apply(lambda x: x * 1000000 if type(x) is int else np.NaN)

In [6]:
energy['Country'] = energy['Country'].replace(
    {'China, Hong Kong Special Administrative Region':'Hong Kong',
     'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
     'Republic of Korea':'South Korea','United States of America':'United States',
     'Iran (Islamic Republic of)':'Iran'}
)
energy['Country'] = energy['Country'].str.replace(r" \(.*\)",'')

In [7]:
gdp = pd.read_csv('world_bank.csv')

In [9]:
# Redefine columns
new_header = gdp.iloc[3]
gdp = gdp[0:]
gdp.columns = new_header
gdp['Country Name'] = gdp['Country Name'].replace(
    {'Korea, Rep.':'South Korea',
     'Iran, Islamic Rep.':'Iran',
     'Hong Kong SAR, China':'Hong Kong'}
)

In [10]:
ScimEn = pd.read_excel('scimagojr-3.xlsx')

In [11]:
gdp = gdp[['Country Name',2006,2007,2008,2009,2010,2011,2012,2013,2014,2015]]
gdp.columns = ['Country','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']

In [23]:
merged1 = energy.merge(gdp,how='inner',left_on='Country',right_on='Country').merge(ScimEn,how='inner',left_on='Country',right_on='Country')
len(merged1.index)

143

In [25]:
merged2 = energy.merge(gdp,how='inner',left_on='Country',right_on='Country').merge(ScimEn[ScimEn['Rank']<16],how='inner',left_on='Country',right_on='Country')
len(merged2.index)

7

In [19]:
merged_all = energy.merge(gdp, how='outer',left_on='Country',right_on='Country').merge(ScimEn,how='outer',left_on='Country',right_on='Country')

341

In [22]:
len(merged_all.index) - len(merged1.index)

198